@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@layer components {
  .inputElement {
    @apply w-full focus:outline-none rounded-md border-2 py-2 pl-4 sm:text-sm placeholder-gray-400 focus:ring-0
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter","Aclonica", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo-gradient-text {
  background-color: #f809a7;
  background-image: linear-gradient(45deg, #f809a7, #fe9800);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  /* background-image: conic-gradient(#f809a7, #fe9800); */
}